In [1]:
%matplotlib inline
import pandas as pd

In [4]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [5]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

[5 rows x 2 columns]

In [6]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                    title  year     name   type                character   n
0         Suuri illusioni  1985   Homo $  actor                   Guests  22
1     Battle of the Sexes  2017  $hutter  actor          Bobby Riggs Fan  10
2    Secret in Their Eyes  2015  $hutter  actor          2002 Dodger Fan NaN
3              Steve Jobs  2015  $hutter  actor  1988 Opera House Patron NaN
4  Straight Outta Compton  2015  $hutter  actor              Club Patron NaN

[5 rows x 6 columns]

### How many movies are listed in the titles dataframe?

In [42]:
len(titles)

226758

### What are the earliest two films listed in the titles dataframe?

In [43]:
titles.sort('year').head(2)

                                                 title  year
173348                                      Miss Jerry  1894
121504  Reproduction of the Corbett and Jeffries Fight  1899

[2 rows x 2 columns]

### How many movies have the title "Hamlet"?

In [44]:
len(titles[titles.title == "Hamlet"])

19

### How many movies are titled "North by Northwest"?

In [45]:
len(titles[titles.title == "North by Northwest"])

1

### When was the first movie titled "Hamlet" made?

In [49]:
titles[titles.title == "Hamlet"].sort('year').head(1)['year']

45611    1910
Name: year, dtype: int64

### List all of the "Treasure Island" movies from earliest to most recent.

In [56]:
titles[titles.title.str.contains('^Treasure Island')].sort('year')

                                                    title  year
201001                                    Treasure Island  1918
50061                                     Treasure Island  1920
186352                                    Treasure Island  1934
94610                                     Treasure Island  1950
58212                                     Treasure Island  1972
108718                                    Treasure Island  1973
200384                                    Treasure Island  1985
99946                                Treasure Island (II)  1999
174920                                    Treasure Island  1999
176021  Treasure Island Kids: The Mystery of Treasure ...  2006
212712  Treasure Island Kids: The Battle of Treasure I...  2006
218222  Treasure Island Kids: The Monster of Treasure ...  2006

[12 rows x 2 columns]

### How many movies were made in the year 1950?

In [59]:
len(titles[titles.year == 1950])

1083

### How many movies were made in the year 1960?

In [60]:
len(titles[titles.year == 1960])

1488

### How many movies were made from 1950 through 1959?

In [61]:
len(titles[(titles.year >= 1950) & (titles.year <= 1959)])

12506

### In what years has a movie titled "Batman" been released?

In [63]:
titles[titles.title == "Batman"]['year'].order()

72867    1943
54680    1989
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [66]:
len(cast[cast.title == "Inception"])

77

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [71]:
len(cast[(cast.title == "Inception") & cast.n.isnull()])

26

### But how many roles in the movie "Inception" did receive an "n" value?

In [73]:
len(cast[(cast.title == "Inception") & cast.n.notnull()])

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [74]:
cast[(cast.title == "North by Northwest") & cast.n.notnull()].sort('n')

,title,year,name,type,character,n
818488,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1
3270954,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2
1368090,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3
2943117,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4
334412,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5
2845261,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6
1592177,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7
1196834,North by Northwest,1959,Martin Landau,actor,Leonard,8
2296149,North by Northwest,1959,Adam Williams,actor,Valerian,9
1700893,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10
625254,North by Northwest,1959,Robert Ellenstein,actor,Licht,11
2154151,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12
435915,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13
1416611,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14
192793,North by Northwest,1959,Edward Binns,actor,Captain Junket,15
1299913,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [76]:
cast[(cast.title == "Sleuth") & cast.n.notnull() & (cast.year == 1972)].sort('n')

,title,year,name,type,character,n
1601539,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1
306143,Sleuth,1972,Michael Caine,actor,Milo Tindle,2
350669,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3
1375811,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4
2550164,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5
1360231,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [77]:
cast[(cast.title == "Sleuth") & cast.n.notnull() & (cast.year == 2007)].sort('n')

          title  year           name   type    character  n
306144   Sleuth  2007  Michael Caine  actor       Andrew  1
1214180  Sleuth  2007       Jude Law  actor         Milo  2
1695799  Sleuth  2007  Harold Pinter  actor  Man on T.V.  3

[3 rows x 6 columns]

### How many roles were credited in the silent 1921 version of Hamlet?

In [79]:
len(cast[(cast.title == "Hamlet") & (cast.year == 1921)])

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [80]:
len(cast[(cast.title == "Hamlet") & (cast.year == 1996)])

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [83]:
len(cast[cast.title == 'Hamlet'])

313

### How many people have played an "Ophelia"?

In [88]:
len(cast[cast.character.str.contains('Ophelia')])

149

### How many people have played a role called "The Dude"?

In [89]:
len(cast[cast.character.str.contains('The Dude')])

24

In [90]:
len(cast[cast.character == 'The Dude'])

17

### How many people have played a role called "The Stranger"?

In [91]:
len(cast[cast.character.str.contains('The Stranger')])

224

In [92]:
len(cast[cast.character == 'The Stranger'])

206

### How many roles has Sidney Poitier played throughout his career?

In [93]:
len(cast[cast.name == 'Sidney Poitier'])

43

### How many roles has Judi Dench played?

In [94]:
len(cast[cast.name == 'Judi Dench'])

54

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [95]:
cast[(cast.name == 'Cary Grant') & (cast.n == 2) & (cast.year == 1940)].sort('year')

                   title  year        name   type character  n
818485  My Favorite Wife  1940  Cary Grant  actor      Nick  2

[1 rows x 6 columns]

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [96]:
cast[(cast.name == 'Cary Grant') & (cast.n == 1) & (cast.year == 1940)].sort('year')

,title,year,name,type,character,n
818467,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1
818510,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1
818512,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1

### How many roles were available for actors in the 1950s?

In [97]:
len(cast[(cast.type == 'actor') & (cast.year == 1950)])

16434

### How many roles were avilable for actresses in the 1950s?

In [98]:
len(cast[(cast.type == 'actress') & (cast.year == 1950)])

5464

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [99]:
len(cast[(cast.n == 1) & (cast.year <= 1980)])

63203

### How many non-leading roles were available through from the beginning of film history through 1980?

In [100]:
len(cast[(cast.n != 1) & (cast.year <= 1980)])

1082969

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [101]:
len(cast[(cast.n.isnull()) & (cast.year <= 1980)])

432874

In [7]:
len(titles)

226758

In [11]:
titles

                                         title  year
0                               The Rising Son  1990
1                      The Thousand Plane Raid  1969
2                             Crucea de piatra  1993
3                                      Country  2000
4                                   Gaiking II  2011
5                                  Medusa (IV)  2015
6               The Fresh Air Will Do You Good  2008
7                           Alex in Wonderland  1970
8                                   L'outsider  2016
9                       Do Outro Lado do Mundo  2008
10                             Severny variant  1974
11                               Slave by Name  2017
12                        Insaaf Main Karoonga  1985
13                    Poka Makorer Ghar Bosoti  1996
14                                   Hi, Buddy  1943
15                             Los siete locos  1973
16                                  Panic Room  2002
17                       Io sono un autarchico  1976
18                      Shobhna's Seven Nights  2012
19                                  Mahapurush  1965
20                            Maa Durga Shakti  1999
21                                      Patria  1917
22                              Passenger Side  2009
23                 Ang pumatay ng dahil sa iyo  1989
24                        Conflict of Interest  1993
25                               The Syndicate  2011
26                Suzanne, professeur de flirt  1916
27                                Arrive Alive  1990
28                       Tera Mera Saath Rahen  2001
29     The Majestic Life of Queen Elizabeth II  2013
30                                  Velvet Rut  2012
31                                  Dreamscape  2011
32                                 Der Brocken  1992
33                           The Hidden Corner  2016
34                                   The Court  1998
35  The Neverending Story II: The Next Chapter  1990
36                               Meigui xuanwo  2000
37                                     Pruebas  2011
38      La momia azteca contra el robot humano  1958
39                                    Safe Sex  1999
40                                   Northfork  2003
41                          The Fair Pretender  1918
42                                   Incognita  2012
43                                 Mavi boncuk  1958
44                                 Yanik kaval  1947
45                                  Torn Apart  1990
46                               Schadenfreude  2016
47                                      Stolen  2012
48                           Piliste Palukutha  2003
49                                     Way Out  1967
50                         Sabse Bada Be-Imaan  2000
51                            Tin dei hung sam  1997
52                                  Dead Awake  2010
53                              Ambilkan bulan  2012
54                               Critical Care  1997
55                                  Woman Trap  1929
56                       The Amityville Horror  2005
57                         Migimagari No Dandy  1989
58                                 Territory 8  2013
59                    Lacchimdeviki O Lekkundi  2016
                                           ...   ...

[226758 rows x 2 columns]

In [14]:
titles.tail()

                        title  year
226753  Nobody Waved Good-bye  1964
226754                  E yue  2005
226755           Lakota Girls  2015
226756         Kroniki domowe  1997
226757           The Sting II  1983

[5 rows x 2 columns]

In [15]:
h = titles.head(8)

h

                            title  year
0                  The Rising Son  1990
1         The Thousand Plane Raid  1969
2                Crucea de piatra  1993
3                         Country  2000
4                      Gaiking II  2011
5                     Medusa (IV)  2015
6  The Fresh Air Will Do You Good  2008
7              Alex in Wonderland  1970

[8 rows x 2 columns]

In [17]:
h

                            title  year
0                  The Rising Son  1990
1         The Thousand Plane Raid  1969
2                Crucea de piatra  1993
3                         Country  2000
4                      Gaiking II  2011
5                     Medusa (IV)  2015
6  The Fresh Air Will Do You Good  2008
7              Alex in Wonderland  1970

[8 rows x 2 columns]

In [22]:
h['year'] // 10 * 10

0    1990
1    1960
2    1990
3    2000
4    2010
5    2010
6    2000
7    1970
Name: year, dtype: int64

In [30]:
h[(h.year < 1985) | (h.year >= 1990)]

                            title  year
0                  The Rising Son  1990
1         The Thousand Plane Raid  1969
2                Crucea de piatra  1993
3                         Country  2000
4                      Gaiking II  2011
5                     Medusa (IV)  2015
6  The Fresh Air Will Do You Good  2008
7              Alex in Wonderland  1970

[8 rows x 2 columns]

In [33]:
t = titles
t[t.title == 'Macbeth'].sort('year')

          title  year
4069    Macbeth  1913
66221   Macbeth  1916
155107  Macbeth  1948
199694  Macbeth  1987
16587   Macbeth  1997
24945   Macbeth  1998
72596   Macbeth  2003
129595  Macbeth  2004
54520   Macbeth  2006
147816  Macbeth  2009
11318   Macbeth  2013
151690  Macbeth  2014
134274  Macbeth  2015
144226  Macbeth  2016
165205  Macbeth  2017

[15 rows x 2 columns]

In [34]:
t[t.title == 'Macbeth'].sort('year').tail()

          title  year
11318   Macbeth  2013
151690  Macbeth  2014
134274  Macbeth  2015
144226  Macbeth  2016
165205  Macbeth  2017

[5 rows x 2 columns]

In [35]:
h = cast.head()

In [36]:
h

                    title  year     name   type                character   n
0         Suuri illusioni  1985   Homo $  actor                   Guests  22
1     Battle of the Sexes  2017  $hutter  actor          Bobby Riggs Fan  10
2    Secret in Their Eyes  2015  $hutter  actor          2002 Dodger Fan NaN
3              Steve Jobs  2015  $hutter  actor  1988 Opera House Patron NaN
4  Straight Outta Compton  2015  $hutter  actor              Club Patron NaN

[5 rows x 6 columns]

In [40]:
h = h[h.n.notnull()]
h

                 title  year     name   type        character   n
0      Suuri illusioni  1985   Homo $  actor           Guests  22
1  Battle of the Sexes  2017  $hutter  actor  Bobby Riggs Fan  10

[2 rows x 6 columns]

Empty DataFrame
Columns: [title, year, name, type, character, n]
Index: []

[0 rows x 6 columns]